# Pandas Merge туториал

In [1]:
# Import
import pandas as pd

In [2]:
user_usage = pd.read_csv("user_usage.csv")
user_device = pd.read_csv("user_device.csv")
devices = pd.read_csv("android_devices.csv")
devices.rename(columns={"Retail Branding": "manufacturer"}, inplace=True)

In [3]:
user_usage.head()

   outgoing_mins_per_month  outgoing_sms_per_month  monthly_mb  use_id
0                    21.97                    4.82     1557.33   22787
1                  1710.08                  136.88     7267.55   22788
2                  1710.08                  136.88     7267.55   22789
3                    94.46                   35.17      519.12   22790
4                    71.59                   79.26     1557.33   22792

In [4]:
user_device.head()

   use_id  user_id platform  platform_version     device  use_type_id
0   22782    26980      ios              10.2  iPhone7,2            2
1   22783    29628  android               6.0    Nexus 5            3
2   22784    28473  android               5.1   SM-G903F            1
3   22785    15200      ios              10.2  iPhone7,2            3
4   22786    28239  android               6.0  ONE E1003            1

In [5]:
devices.head(10)

,manufacturer,Marketing Name,Device,Model
0,NaN,NaN,AD681H,Smartfren Andromax AD681H
1,NaN,NaN,FJL21,FJL21
2,NaN,NaN,T31,Panasonic T31
3,NaN,NaN,hws7721g,MediaPad 7 Youth 2
4,3Q,OC1020A,OC1020A,OC1020A
5,7Eleven,IN265,IN265,IN265
6,A.O.I. ELECTRONICS FACTORY,A.O.I.,TR10CS1_11,TR10CS1
7,AG Mobile,AG BOOST 2,BOOST2,E4010
8,AG Mobile,AG Flair,AG_Flair,Flair
9,AG Mobile,AG Go Tab Access 2,AG_Go_Tab_Access_2,AG_Go_Tab_Access_2

## Объединение по id пользователя

In [6]:
result = pd.merge(user_usage,
                 user_device[['use_id', 'platform', 'device']],
                 on='use_id')
result.head()

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id,platform,device
0,21.97,4.82,1557.33,22787,android,GT-I9505
1,1710.08,136.88,7267.55,22788,android,SM-G930F
2,1710.08,136.88,7267.55,22789,android,SM-G930F
3,94.46,35.17,519.12,22790,android,D2303
4,71.59,79.26,1557.33,22792,android,SM-G361F

Посмотрим на размерности получившихся таблиц:

In [7]:
print("user_usage размерности: {}".format(user_usage.shape))
print("user_device размерности: {}".format(user_device[['use_id', 'platform', 'device']].shape))

user_usage размерности: (240, 4)
user_device размерности: (272, 3)

In [8]:
user_usage['use_id'].isin(user_device['use_id']).value_counts()

True     159
False     81
Name: use_id, dtype: int64

## Left merge

In [9]:
result = pd.merge(user_usage,
                 user_device[['use_id', 'platform', 'device']],
                 on='use_id', how='left')
print("user_usage размерности: {}".format(user_usage.shape))
print("result размерности: {}".format(result.shape))
print("Всего {} пропущенных значений.".format(
        result['device'].isnull().sum()))

user_usage размерности: (240, 4)
result размерности: (240, 6)
Всего 81 пропущенных значений.

In [10]:
result.head()

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id,platform,device
0,21.97,4.82,1557.33,22787,android,GT-I9505
1,1710.08,136.88,7267.55,22788,android,SM-G930F
2,1710.08,136.88,7267.55,22789,android,SM-G930F
3,94.46,35.17,519.12,22790,android,D2303
4,71.59,79.26,1557.33,22792,android,SM-G361F

## Right merge

In [11]:
result = pd.merge(user_usage,
                 user_device[['use_id', 'platform', 'device']],
                 on='use_id', how='right')
print("user_device размерностиs: {}".format(user_device.shape))
print("result размерности: {}".format(result.shape))
print("Всего {} пропущенных значений в колонке 'monthly_mb' .".format(
        result['monthly_mb'].isnull().sum()))
print("Всего {} пропущенных значений в колонке 'platform'.".format(
        result['platform'].isnull().sum()))

user_device размерностиs: (272, 6)
result размерности: (272, 6)
Всего 113 пропущенных значений в колонке 'monthly_mb' .
Всего 0 пропущенных значений в колонке 'platform'.

## Outer merge

In [12]:
print("Всего {} уникальных значений для use_id.".format(
        pd.concat([user_usage['use_id'], user_device['use_id']]).unique().shape[0]))
result = pd.merge(user_usage,
                 user_device[['use_id', 'platform', 'device']],
                 on='use_id', how='outer', indicator=True)

print("Получаем в таблице {} строк.".format(result.shape))

Всего 353 уникальных значений для use_id.
Получаем в таблице (353, 7) строк.

## Final merge

In [13]:

result = pd.merge(user_usage,
                 user_device[['use_id', 'platform', 'device']],
                 on='use_id',
                 how='left')


devices.rename(columns={"Retail Branding": "manufacturer"}, inplace=True)
result = pd.merge(result, 
                  devices[['manufacturer', 'Model']],
                  left_on='device',
                  right_on='Model',
                  how='left')

result.head()

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id,platform,device,manufacturer,Model
0,21.97,4.82,1557.33,22787,android,GT-I9505,Samsung,GT-I9505
1,1710.08,136.88,7267.55,22788,android,SM-G930F,Samsung,SM-G930F
2,1710.08,136.88,7267.55,22789,android,SM-G930F,Samsung,SM-G930F
3,94.46,35.17,519.12,22790,android,D2303,Sony,D2303
4,71.59,79.26,1557.33,22792,android,SM-G361F,Samsung,SM-G361F

In [14]:
devices[devices.Model == 'SM-G930F']

      manufacturer Marketing Name   Device     Model
10381      Samsung      Galaxy S7  herolte  SM-G930F

In [15]:
devices[devices.Device.str.startswith('GT')]

      manufacturer          Marketing Name     Device      Model
1095       Bitmore                 GTAB700    GTAB700   NID_7010
1096       Bitmore                 GTAB900    GTAB900       S952
2402       Grundig                 GTB1050    GTB1050   GTB 1050
2403       Grundig                  GTB850     GTB850    GTB 850
2404       Grundig                 TC69CA2     GTB801    GTB 801
...            ...                     ...        ...        ...
10821      Samsung            Galaxy Y Pro  GT-B5510L  GT-B5510L
10822      Samsung       Galaxy Y Pro Duos   GT-B5512   GT-B5512
10823      Samsung       Galaxy Y Pro Duos  GT-B5512B  GT-B5512B
10824      Samsung             Galaxy Y TV   GT-S5367   GT-S5367
10979        Sharp  AQUOS SERIE mini SHV38        GTQ      SHV38

[164 rows x 4 columns]

## Вычисление итоговых статистик

In [16]:
result.head()

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id,platform,device,manufacturer,Model
0,21.97,4.82,1557.33,22787,android,GT-I9505,Samsung,GT-I9505
1,1710.08,136.88,7267.55,22788,android,SM-G930F,Samsung,SM-G930F
2,1710.08,136.88,7267.55,22789,android,SM-G930F,Samsung,SM-G930F
3,94.46,35.17,519.12,22790,android,D2303,Sony,D2303
4,71.59,79.26,1557.33,22792,android,SM-G361F,Samsung,SM-G361F

In [17]:
result.groupby("manufacturer").agg({
        "outgoing_mins_per_month": "mean",
        "outgoing_sms_per_month": "mean",
        "monthly_mb": "mean",
        "use_id": "count"
    })

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id
manufacturer,,,,
HTC,299.842955,93.059318,5144.077955,44
Huawei,81.526667,9.500000,1561.226667,3
LGE,111.530000,12.760000,1557.330000,2
Lava,60.650000,261.900000,12458.670000,2
Lenovo,215.920000,12.930000,1557.330000,2
Motorola,95.127500,65.666250,3946.500000,16
OnePlus,354.855000,48.330000,6575.410000,6
Samsung,191.010093,92.390463,4017.318889,108
Sony,177.315625,40.176250,3212.000625,16
Vodafone,42.750000,46.830000,5191.120000,1
ZTE,42.750000,46.830000,5191.120000,1