## <center>Работа с данными в Pandas (история олимпийских игр)
    
    

Данные содержат следующие признаки:

* ID - Unique number for each athlete
* Name - Athlete's name
* Sex - M or F
* Age - Integer
* Height - In centimeters
* Weight - In kilograms
* Team - Team name
* NOC - National Olympic Committee 3-letter code
* Games - Year and season
* Year - Integer
* Season - Summer or Winter
* City - Host city
* Sport - Sport
* Event - Event
* Medal - Gold, Silver, Bronze, or NA

In [151]:
import pandas as pd

In [152]:
data = pd.read_csv('athlete_events.csv')

In [155]:
data

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

### Задание 1
Найдите, сколько всего строк в таблице (не считая заголовков)?

In [115]:
# YOUR CODE
data.shape

(271116, 15)

### Задание 2

Сколько лет было самой молодой участнице олимпийских игр женского пола в 1992 году?

In [158]:
# YOUR CODE

data[(data['Sex'] == 'F') & (data['Year'] == 1992)]['Age'].min()

12.0

### Задание 3

Какую пропорцию составляют мужчины-баскетболисты среди всех участников игр 2012 года? Округлите ответ до двух знаков после точки.

_Подсказка_ : вам необходимы соревнования "Basketball Men's Basketball"

In [120]:
# YOUR CODE

basketball = data[(data['Event'] == "Basketball Men's Basketball") & (data['Year'] == 2012)]['ID'].count()
print(basketball)
all_2012 = data[data['Year'] == 2012]['ID'].count()
print(all_2012)

round(basketball/all_2012, 2)

144
12920

0.01

In [164]:
data[data['Year'] == 2012]['ID'].count()

basketball/all_2012

0.011145510835913313

### Задание 4

Найдите среднее арифметическое для роста теннисисток (название соревнований должно начинаться со слова 'Tennis'), которые участвовали в играх 2000 года. Округлите ответ до двух знаков после точки.

In [167]:
# YOUR CODE

data[(data['Sport'] == 'Tennis') & (data['Year'] == 2000) & (data['Sex'] == 'F')]['Height'].mean()

171.792

### Задание 5

Найдите количество всех уникальных дисциплин, связанных с катанием на коньках (Skating).

In [173]:
# YOUR CODE

data[data['Event'].str.contains('Skating')]['Event'].unique().shape[0]

27

### Задание 6

Найдите самую легкую (по весу) спортсменку игр 2006 года. В каком виде спорта она участвовала? Скопируйте в ответ название.

In [178]:
# YOUR CODE

weight = data[(data['Year'] == 2006) & (data['Sex'] == 'F')]['Weight'].min()
print(weight)

data[(data['Year'] == 2006) & (data['Weight'] == weight)]['Event']

38.0

188177    Figure Skating Mixed Pairs
Name: Event, dtype: object

In [176]:
data[(data['Year'] == 2006) & (data['Sex'] == 'F')]['Weight'].min()

38.0

### Задание 7

В скольких олимпиадах принимал участие John Aalberg?

In [83]:
# YOUR CODE

len(data[(data['Name'] == 'John Aalberg')]['Year'].unique())

data[(data['Name'] == 'John Aalberg')]['Year'].unique().shape[0]

2

In [181]:
data[(data['Name'] == 'John Aalberg')]['Year'].unique()

array([1992, 1994])

### Задание 8

Сколько золотых медалей в настольном теннисе выиграл Китай на Олимпиаде в 2008 году?

In [141]:
# YOUR CODE

len(data[
    (data['Sport'] == 'Table Tennis') & 
         (data['Team'] == 'China') & 
         (data['Year'] == 2008) &  
         (data['Medal'] == 'Gold')
])

8

### Задание 9
Найдите абсолютную (т.е. по модулю) разницу между количеством уникальных видов спорта на играх в 1988 году и в 2002.

_Подсказка_ : функция модуля "убирает" минус перед числом.

In [144]:
# YOUR CODE

year_1988 = data[data['Year'] == 1988]['Sport'].unique().shape[0]
year_1988

37

In [147]:
year_2002 = data[data['Year'] == 2002]['Sport'].unique().shape[0]
year_2002

15

In [149]:
abs(year_2002-year_1988)

22

In [148]:
help(abs)

Help on built-in function abs in module builtins:

abs(x, /)
    Return the absolute value of the argument.